.knowldege_banner {
    background: url("../../../public/MarutiSuzuki_Assets/imageedit_0_7638663497.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    height: 400px;
    margin-bottom: 80px;
}

.knowldege_banner h1 {
    text-align: left;
    font: normal normal 500 50px/70px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.knowldege_banner p {
    text-align: left;
    font: normal normal normal 30px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.job_card p i {
    font-size: 40px;
}

.job_card p {
    text-align: center;
}

.job_card h2,.job_card h2 a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.job_card {
    margin-bottom: 20px;
}


/* filter */

.knowldge_filter_head {
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border-radius: 3px;
    padding: 15px;

}

.knowldge_filter_head_border {
    margin: 30px 0;
    border: 1px solid #C4C4C4;
}

.knowldge_filter_head h2 {
    text-align: left;
    font: normal normal 500 24px/32px Roboto;
    letter-spacing: 0px;
    color: #4B4B4B;
}

.knowldge_filter_head h2 img {
    margin-right: 15px;
    width: 20px;
    height: 24px;
}

.knowldge_filter_body_label {
    text-align: left;
    font: normal normal 500 24px/32px Roboto;
    letter-spacing: 0px;
    color: #0D0C12;
}

.knowldge_filter_body label {
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #5D5D5D;
}

.knowldge_filter_body .form-check-input {
    transform: scale(2);
    margin-right: 20px;
    border-radius: 0 !important;
    margin-left: -15px !important;
}

.form-check {
    margin-bottom: 25px !important;
}
.knowledge_content .card{
    padding: 20px 15px;
    background: #26344C 0% 0% no-repeat padding-box;
}
.knowledge_content .card i{
    color: #fff;
}
.knowledge_content .card p{
    margin-bottom: 0;
}
.knowledge_content .card  h2{
    font: normal normal normal 21px/21px Roboto;
letter-spacing: 0px;
color: #fff;
margin-bottom: 0;
display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:600px) and (max-width:880px) { 
    .knowldege_banner {
        background-size: cover;
        padding: 150px 0;
        height: 300px;
        margin-bottom: 50px;
    }

    .job_card p i {
        font-size: 30px;
    }
    
    .knowldege_banner h1 {
        font: normal normal 500 40px/60px Roboto;
        margin-bottom: 15px;
    }
    .knowldege_banner p {
        text-align: left;
        font: normal normal normal 25px/30px Roboto;
    }
    .knowledge_content .card{
        padding: 15px 12px;
    }
    .knowledge_content .card  h2{
        font: normal normal normal 15px/15px Roboto;
    }
 }
@media (max-width:600px)  { 
    .knowldege_banner {
        padding: 100px 0;
        height: 200px;
        margin-bottom: 40px;
    }
    
    .knowldege_banner h1 {
        font: normal normal 500 25px/35px Roboto;
        margin-bottom: 10px;
    }
    .knowldege_banner p {
        font: normal normal normal 15px/17px Roboto;
    }
    .job_card p i {
        font-size: 20px;
    }
    .job_card {
        margin-bottom: 10px;
    }
    .knowledge_content .card{
        padding: 10px 8px;
    }
    .knowledge_content .card  h2{
        font: normal normal normal 12px/12px Roboto;
    }
    

}