.card_arrow {
  background: #2d3494;
  color: #fff;
  padding: 0px 8px;
  float: right;
  position: absolute;
  top: 7.1em;
  /* left: 50%; */
  right: 0em;
  z-index: 99;
  cursor: pointer;
}
.card_arrow_wrap {
  /* display:inline-block; */
  position: relative;
}
.title_elipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;
}
.mui_card_content {
  padding: 8px !important;
}
