.wrapper {
  background-color: aliceblue;
  height: 100vh;
}
.container {
  margin: 100px auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-around;
  padding: 50px;
}
.recordContainer {
  height: 500px;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 30px;
  margin-bottom: 20px;
}
.cardBody {
  text-align: center;
  background-color: aliceblue;
  font-size: 20px;
}
.btnWidth {
  width: 200px;
}
.carouselContainer {
  padding: 0px 20px;
}
