.header_center_nav li a img {
  width: 25px;
  height: 25px;
}
.header_center_nav li a {
  margin: 0 25px;
}
.header_center_nav li a.active {
  border-bottom: 2px solid #00fff5;
}
.header_right_nav li a {
  margin: 0 15px;
}

.header_right_nav_avtar {
  width: 35px;
  height: 35px;
}
.header_right_nav_avtar_a {
  padding-top: 5px !important;
}
.header_right_nav .dropdown-toggle::after {
  display: none;
}
.header_right_nav .dropdown-menu[data-bs-popper] {
  left: -80px !important;
}
.header_new {
  background: #0e1117;
}
.navbar-brand img {
  width: 160px;
  height: auto;
}
.collapse .collapse-wrapper {
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.menuTitle
{
  display: none;
}
.navbar{
  padding-top: 0;
}
.ms_social_posts .css-1xu1mzw-MuiGrid-root>.MuiGrid-item
{
  padding-left: 0;
}
.cal_w
{
  display: block;
}
.react-calendar
{
  width: 100%;
}
.calender_wrap
{
  width: 100%;
  margin-left: 0;
}



@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}




/* For Tablet View */

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  .header_new {
    background: #000d29;
  }
  /* smartphones, Android phones, landscape iPhone */
  .navbar{
    background-color:#000d29;
  }
  .collapse .collapse-wrapper {
    width: 100%;
    background-color: #000d29;
    display: block;
  }
  .navbar-brand img {
    width: 100px;
    height: auto
  }
 
  .navbar .navbar-toggler{
    background-color: #000d29;
    width: 60px;
    padding: 9px 0 0 0;
    color: #fff;
    border: 1.5px solid;
  } 


  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #02fbf1;
  }

  .navbar .header_center_nav li a {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }

  .navbar .header_right_nav li a {
    padding-left: 10px;
  }

  .navbar .header_right_nav li a
  {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }
  .navbar .header_right_nav li a.header_right_nav_avtar_a {
    padding-left: 5px;
  }
  .navbar .header_center_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .navbar .header_right_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .cal_w
  {
    display: block;
  }
  .cal_w .react-calendar .react-calendar__navigation
  {
    margin-bottom: 0;
  }
  .cal_w .react-calendar
  {
    width: 100%;
  }
   .ms_social_posts .css-1xu1mzw-MuiGrid-root>.MuiGrid-item{
    padding-left: 0;
  } 
  .ms_social_posts .css-1xu1mzw-MuiGrid-root
  {
    width: 100%;
    margin-left: 0;
  }
  .calender_wrap{
    margin-left: 0;
  }
  .react-calendar__month-view__weekdays__weekday
  {
    padding: 0.1em;
  }
  .calender_wrap{
    height: auto;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 485px) and (orientation: portrait) {
  /* smartphones, Android phones, landscape iPhone */

  .header_new {
    background: #000d29;
  }
  .navbar{
    background-color:#000d29;
  }
  .collapse .collapse-wrapper {
    width: 100%;
    background-color: #000d29;
    display: block;
  }
  .navbar-brand img {
    width: 100px;
    height: auto
  }

  
  .navbar-toggler:not(.collapsed)
  {
    background-color: #fff;
    width: 60px;
    padding: 9px 0 0 0;
    color: #02fbf1;
  }
  
   .navbar .navbar-toggler{
    background-color: #000d29;
    width: 60px;
    padding: 9px 0 0 0;
    color: #fff;
    border: 1.5px solid;
  } 
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #02fbf1;
  }



  .navbar .header_center_nav li a {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }
  .navbar .header_right_nav li a
  {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }

  .navbar .header_right_nav li a {
    padding-left: 10px;
  }
  .navbar .header_right_nav li a.header_right_nav_avtar_a {
    padding-left: 5px;
  }
  .navbar .header_center_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .navbar .header_right_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .cal_w
  {
    display: block;
  }
  .cal_w .react-calendar .react-calendar__navigation
  {
    margin-bottom: 0;
  }
   .ms_social_posts .css-1xu1mzw-MuiGrid-root>.MuiGrid-item{
    padding-left: 0;
  } 
  .ms_social_posts .css-1xu1mzw-MuiGrid-root
  {
    width: 100%;
    margin-left: 0;
  }
  .calender_wrap{
    margin-left: 0;
  }
  .react-calendar__month-view__weekdays__weekday
  {
    padding: 0.1em;
  }
  .calender_wrap{
    height: auto;
  }
  
  /* .collapse:not(.show)
  {
    display: block !important;
    margin-left: 110%;
  }

  .collapse.show {
    animation-name: example;
    animation-duration: 1s;
  }
  
  @keyframes example {
    from {margin-left : 110%;}
    to {margin-left: 0;}
  } */

}

/* For Mobile Landscape View */
@media screen and (min-device-width: 320px) and (max-device-width: 960px) and (orientation: landscape) {
  /* smartphones, Android phones, landscape iPhone */

  .header_new {
    background: #000d29;
  }
  .navbar{
    background-color:#000d29;
  }
  .collapse .collapse-wrapper {
    width: 100%;
    background-color: #000d29;
    display: block;
  }
  .navbar-brand img {
    width: 100px;
    height: auto
  }

  .navbar .navbar-toggler{
    background-color: #000d29;
    width: 60px;
    padding: 9px 0 0 0;
    color: #fff;
    border: 1.5px solid;
  } 

  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #02fbf1;
  }
  
  .navbar .header_center_nav li a {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }

  .navbar .header_right_nav li a {
    padding-left: 10px;
  }

  .navbar .header_right_nav li a
  {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
  }

  .navbar .header_right_nav li a.header_right_nav_avtar_a {
    padding-left: 5px;
  }
  .navbar .header_center_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .navbar .header_right_nav li .menuTitle
  {
    display: block;
    padding-left: 1.5rem;
    color: white;
  }
  .cal_w
  {
    display: block;
  }
  .cal_w .react-calendar .react-calendar__navigation
  {
    margin-bottom: 0;
  }
  .cal_w .react-calendar
  {
    width: 100%;
  }
   .ms_social_posts .css-1xu1mzw-MuiGrid-root>.MuiGrid-item{
    padding-left: 0;
  } 
  .ms_social_posts .css-1xu1mzw-MuiGrid-root
  {
    width: 100%;
    margin-left: 0;
  }
  .calender_wrap{
    margin-left: 0;
  }
  .react-calendar__month-view__weekdays__weekday
  {
    padding: 0.1em;
  }
  .calender_wrap{
    height: auto;
    
  }
}
