.searchInput {
  background: #fff;
  /* width: 150%; */
  /* margin-left: 50px; */
  width: 300px;
  position: relative;
  border: 1px solid #E9EAF0
}

.searchInput input {
  /* height: 50px; */
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
}

.searchResultITemContainer {
  display: flex;
  align-items: center;
  color: #323232;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
}

.searchInput.active input {
  border-radius: 5px 5px 0 0;
}

.resultBox {
  overflow-y: auto;
  background: #fff;
  z-index: 9999;
  position: absolute;
  width: 300px;
  padding: 15px 20px;
  right: 0px;
  top: 90px;
  border: 1px solid #dee2e6;
  max-height: 400px;
}

.resulticon::before {
  content: '';
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 72px;
  position: absolute;
  right: 25px;
}

.searchInput.active .resultBox {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li {
  all: unset;
  list-style: none;
  padding: 10px 0px;
  /* display: none; */
  width: 100%;
  cursor: default;
  border-radius: 3px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.resultBox li:last-child{
  padding-bottom: 20px;
  border-bottom: 1.5px solid #D0D0D0;
}
.resultBox li a{
  all: unset;
  font-size: 16px;
  color: #323232;
  text-decoration: none;
  line-height: 20px;
}

.resultBox li img {
  width: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.searchInput.active .resultBox li {
  display: block;
}



.resultBox li:hover {
  background: #efefef;
}

.searchIconHeader {
  padding: 0 10px 0 0;
}



.searchIconHeader path{ 
  stroke: #000 !important
  }

.searchInput .icon {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 20px;
  color: #2d3494;
  cursor: pointer;
  transform: translateY(-50%);
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 485px) and (orientation: portrait) {
  .searchInput {
    background: #fff;
    margin-left: 0px;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }
}