.slick-prev{
    /* left: -15px !important; */
}
.slick-next{
    /* right: -15px !important; */
}
.slick-list{
    /* padding: 5px 20px !important; */
}
.abc .slick-slide, .abc .slick-active, .abc.slick-current{
width: 250px !important;
}
.abc .slick-dots{
display: none !important;
}
.maruti .slick-next{
    right: 10px !important;
    top: 0 !important;
}
.maruti .slick-prev{
    
    left: auto !important;
    right: 30px !important;
    top: 0 !important;
}